#pageSet{
    display: grid;
    grid-template-areas: 
        'header header'
        'sidebar sidebar'
        'main main'
        'main main'
        'section section'
        'footer footer';
    gap: 0;
    width: 98vw;
    height: 98vh;
}
.header{
    grid-area: header;
    /*background-color: thistle;*/
    background-image: url(20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.sidebar{
    grid-area: sidebar;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6vh;
    align-items: center;
}
.sidebar img{
    display: none;
}
.sidebar a{
    color: white;
    font-weight: normal;
    transition: all 2s;
}
.sidebar a:visited{
    color: white;
}
.sidebar a:hover{
    color: thistle;
}
.sidebar a:active{
    font-weight: bold;
}
.menu{
    text-decoration: none;
}
.main{
    grid-area: main;
    background-color: rgb(212, 173, 149);
    display: grid;
    grid-template-areas: 
    ' right'
    'left';
    gap: 0.5%;
}
.main-right{
    grid-area: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 2%;
}
.main-right #img{
    background-image: url(001-צק.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: 0px solid transparent;
    border-radius: 100%;
    width: 10%;
    height: 5%;
    margin-left: 4%;
    margin-right: 42%;
    align-self: center;
    transition: all 2s;
}
#img:hover{
    width: 20%;
    height: 10%;
    filter: drop-shadow(6px 2.5px 2px grey);
}
.cv{
    display: flex;
    flex-flow: column;
}
#lang{
    list-style-type: none;
    padding-inline-start: 0;
}
.main-left{
    grid-area: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
}
.main-left h1{
    display: block;
    text-align: center;
    color: rgb(212, 173, 149);
}
.projects{
    position: relative;
    width: 80%;
    top: 0;
    left: 10%;}
.shot{
    opacity: 1;
    width: 100%;
    height: auto;
}
.solid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    background-color: thistle;
    transition: 5s ease;
}
.projects:hover .solid{
    opacity: 1;
}
.text{
    color: black;
    font-size: 16px;
    position: absolute;
    text-align: center;
    transform: translate(-50% -50%);
}
@keyframes switch{
    0%{background-image: url(1.jpg);}
    20%{background-image: url(2.jpg);}
    50%{background-image: url(3.jpg);}
    80%{background-image: url(4.jpg);}
    100%{background-image: url(5.jpg);}
}
.gallery{
    grid-area: section;
    display: flex;
    justify-content: center;
    margin: 6% 13%;
    width: 70vw;
    height: 80vh;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: switch;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}
.gallery h1{
    align-self: center;
    color: thistle;
}
.gallery img{
    display: none;
}
.footer{
    grid-area: footer;
    background-color: #000000;
    color: #ffffff;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer a:visited{
    color: #ffffff;
}
.footer a:hover{
    color: #ff3c00;
}
.footer a:active{
    color: black;
}