body{
    margin: 0;
}
#pageSet{
    display: grid;
    grid-template-areas: 
        'header header header header'
        'sidebar main main main'
        'sidebar main main main'
        'sidebar section section section'
        'footer footer footer footer';
    gap: 0;
    width: 100vw;
    height: 100vh;

}
.header{
    grid-area: header;
    background-color: #1b34ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    height: 10vh;
    position: fixed;
    width: 100vw;
}
header a:hover{
    width: 5%;
    height: 5%;
}
.main{
    grid-area: main;
    background-color: #ffffff;
    color: #1b34ed;
    display: grid;
    grid-template-areas: 
    'left right right'
    'left right right';
    gap: 0.5%;
    margin-top: 8vh;
}
.main-left{
    grid-area: left;
    background-color: #ff3c00;
    color: #ffffff;
    width: 50vw;
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.left-h1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 7%;
}
.projects{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 25%;
    margin-bottom: 6%;
    justify-content: space-around;
}
.shot{
    width: 100%;
    height: 50%;
}
#pic2{
    height: 53%;
}
#pic5{
    height: 70%;
}
.solid{
    display: flex;
    width: 100%;
    height: 100%;
}
.text{
    color: orange;
    background-color: white;
    width: 100%;
    height: 100%;
}
hr{
    display: none;
}
.main-right{
    grid-area: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 40vw;
    margin-top: 8%;
}
.main-right #img{
    background-image: url(001-צק.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: 0px solid transparent;
    border-radius: 100%;
    width: 20%;
    height: 9%;
    transition: all 2s;
}
#img:hover{
    width: 30%;
    height: 14%;
    filter: drop-shadow(12px 5px 2px grey);
}
#lang{
    list-style-type: none;
    padding-inline-start: 0;
}
.sidebar{
    grid-area: sidebar;
    background-color: #1b34ed;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    width: 12vw;
    height: 5vh;
    top: 13%;
    left: 1%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    content-visibility: hidden;
    background-image: url('meat.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 2s;
}
.sidebar:hover{
    height: 40vh;
    content-visibility: visible;
    background-image: none;
}
.sidebar img{
    width: 32px;
    height: 32px;
}
.sidebar a{
    align-items: center;
    color: #ff3c00;
    font-weight: normal;
    font-size: 20px;
    transition: all 1s;
}
.sidebar a:visited{
    color: #ff3c00;
}
.sidebar a:hover{
    color: #ffffff;
}
.sidebar a:active{
    font-weight: bold;
}
.menu{
    text-decoration: none;
}
section{
    grid-area: section;
    background-color: #ff3c00;
    color: #1b34ed;
}
.gallery{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 5%;
    box-sizing: border-box;
}
.pic{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.pic:hover{
    flex-basis: 25%;
}
.footer{
    grid-area: footer;
    background-color: #1b34ed;
    color: #ffffff;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.footer a:visited{
    color: #ffffff;
}
.footer a:hover{
    color: #ff3c00;
}
.footer a:active{
    color: black;
}